<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>smm</display-name>	
  <servlet>
		<servlet-name>Socialmediamapper</servlet-name>
		<servlet-class>com.smm.SocialmediamapperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Socialmediamapper</servlet-name>
		<url-pattern>/socialmediamapper</url-pattern>
	</servlet-mapping>
	 <servlet>
        <servlet-name>query</servlet-name>
        <servlet-class>com.smm.QueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>query</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getmap</servlet-name>
        <servlet-class>com.smm.getmap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getmap</servlet-name>
        <url-pattern>/getmap</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
		<welcome-file>socialmediamapper.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>